<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  	https://axelor.com/xml/ns/object-views/object-views_6.0.xsd">
  	<menuitem title="Dashboard" name="dashboard-root" icon="fa-tachometer" order="-1" icon-background="purple"/>
  	<menuitem title="Dashboards" name="dashboard-root-dashboards" parent="dashboard-root"/>
  	
  	<action-view name="action.dashboard.view.dashboard" title="Home Dashboard">
  		<view type="dashboard" name="welcome.dashboard"/>
  	</action-view>
</object-views>