<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  	https://axelor.com/xml/ns/object-views/object-views_6.0.xsd">
  	
  	<menuitem title="Invoice" name="invoice-root" icon="fa-file" order="-1" icon-background="deeporange"/>
  	<menuitem title="Invoice" name="invoice-root-invoice" parent="invoice-root" action="action.invoice.view.invoice"/>
  	<menuitem title="Data" name="invoice-root-data" icon="fa-database" parent="invoice-root"/>
  	<menuitem title="Invoice line" name="invoice-root-data-invoice-line" parent="invoice-root-data" action="action.invoice.line.view.show.invoice.line"/>
  	
  	<action-view name="action.invoice.view.invoice" title="Invoice" model="com.axelor.invoice.db.Invoice">
  		<view type="grid" name="invoice-grid"/>
  		<view type="form" name="invoice-form"/>
  	</action-view>
  	
  	<action-view name="action.invoice.line.view.show.invoice.line" title="Invoice line" model="com.axelor.invoice.db.InvoiceLine">
  		<view type="grid" name="invoice-line-grid"/>
  		<view type="form" name="invoice-line-form-from-menu"/>
  		<context name="_flag" expr="true"/>
  	</action-view>
</object-views>